* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}

.auto-container {
    position: static;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pos-rel {
    position: relative;
}
.pos-abs{
    position: absolute;
}

.pad-l-r{
    padding: 0px 45px;
}
.bg-black{
    background-color: #151515;
    border: none;
    padding: 15px 0px;
}

.bg-cover {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.mr-l{
    margin-left: 30px;
}

 .google-map{
        padding: 67px 0px;
    }
    .map-content{
        
    }
    .map-section{
     padding-left: 20px;
    }
    .map-title{
        padding-bottom: 8px;
    }
    .map-h4{
        font-size: 35px;
        font-weight: bold;
    }
    .map-para{
        font-size: 20px;
    }
    .map-area{

    }
    .map-area iframe{
        width: 100%;
        height: 550px;
    }
    .form-con-pad{
        padding: 15px 0px !important;
    }
    .form-se-pad{
        padding: 18px 0px !important;
    }
    .pad-b{
        padding-bottom: 25px;
    }
    .pad-top{
        padding: 20px 0px;
    }
    .btn-style-two{
    background-color: #000;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 17px 40px;
    text-decoration: none;
    transition: background-color 0.6s ease;
    }
    .btn-style-two:hover{
        background-color: orangered;
    }
    .d-flex{
        gap: 10px;
        align-items: center;
        justify-content: center;
    }



    @media (max-width: 1200px) {

    .google-map {
        padding: 50px 0px;
    }

    .map-section {
        padding-left: 10px;
    }

    .map-h4 {
        font-size: 30px;
    }

    .map-para {
        font-size: 18px;
    }

    .map-area iframe {
        height: 450px;
    }

    .form-con-pad {
        padding: 12px 0px !important;
    }

    .form-se-pad {
        padding: 14px 0px !important;
    }

    .btn-style-two {
        padding: 15px 35px;
        font-size: 16px;
    }
}


