* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}

.auto-container {
    position: static;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pos-rel {
    position: relative;
}
.pos-abs{
    position: absolute;
}
.pad-b{
    /* padding-bottom: 25px; */
}
.pad-l-r{
    padding: 0px 45px;
}
.pad-t{
    padding: 20px 0px;
}
.bg-black{
    background-color: #151515;
    border: none;
    padding: 15px 0px;
}

.bg-cover {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.mr-l{
    margin-left: 30px;
}


.HR2000{
    background: #000;
    padding: 60px 30px;
    margin-bottom: 70px;
}
.hr-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #363636;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}
.hr-box:hover{
    transform: translateY(-5px);
}
.hr-box i{
    color: #e63946;;
    font-size: 30px;
    padding-bottom: 10px;
}
.hr-box-h4{
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}
.hr-box-p{
    color:#d1d1d1;;
    font-size: 20px;
}
.hr-box ul li{
    position: relative;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 10px;
}
.hr-box ul li::before{
    content: '•';
    position: absolute;
    left: 0;
    color: #e63946;
    font-size: 1.2rem;
    line-height: 1;
}


@media (max-width: 1200px) {
    .HR2000 {
        padding: 50px 30px;
    }

    .hr-box-p {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .pad-l-r {
        padding: 0px 20px;
    }

    .hr-box {
        padding: 18px;
    }

    .hr-box-h4 {
        font-size: 23px;
    }
    .hr-box ul{
        padding-left: 0;
    }
    .hr-box-p{
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .HR2000 {
        padding: 50px 25px;
    }
    .wd-100{
        width: 100% !important;
    }

    .hr-box-h4 {
        font-size: 22px;
    }

    .hr-box-p {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .HR2000 {
        padding: 40px 20px;
    }

    .hr-box {
        padding: 15px;
    }

    .hr-box-h4 {
        font-size: 20px;
    }

    .hr-box-p {
        font-size: 16px;
    }

    .pad-l-r {
        padding: 0px 15px;
    }

    .mr-l {
        margin-left: 0;
    }
}


