* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}

.auto-container {
    position: static;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pos-rel {
    position: relative;
}
.pos-abs{
    position: absolute;
}
.pad-b{
    padding-bottom: 25px;
}

.bg-cover {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;
    overflow: hidden;
    padding: 100px 0 110px;

}

.home-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: radial-gradient(95.51% 264.21% at 92.63% 41.85%,
     rgba(0, 7, 31, 0) 0%, rgb(0 0 0 / 98%) 99.98%, rgb(0 0 0 / 98%) 99.99%);
     height: 100%;
     width: 100%;
}
.home-title{
 padding-left: 10px;
}
.home-icon{
    color: white;
    padding-bottom: 10px;
    gap:10px ;
}
.d-flx{
    display: flex;
    gap: 10px;
}
.home-icon a{
    text-decoration: none;
    color: orangered;
}
.home-h5{
     color: white;
     font-size: 60px;
}