* {
     margin: 0px;
     padding: 0px;
     border: none;
     outline: none;
     font-size: 100%;
 }

 .auto-container {
     position: static;
     padding: 0px 15px;
     margin: 0 auto;
     width: 100%;
 }

.intelligent {
     padding: 50px 0px;
 }

 .intl-div {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 40px 70px;
     position: relative;
     border-radius: 10px;
     z-index: 9;
     overflow: hidden;
 }

 .intl-div::before {
     position: absolute;
     background-color: #000000db;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     opacity: 0.5;
     z-index: -1;
     content: "";

     border-radius: 20px;
 }

 .intl-h5 {
     color: #fff;
     font-size: 30px;
 }

 .intl-p {
     color: #fff;
     font-size: 20px;
 }
 


 /* ---Media-Query--- */

 
@media (max-width: 1200px) {
    .intl-div {
        padding: 35px 50px;
    }
    .intl-h5 {
        font-size: 28px;
    }
    .intl-p {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .intl-div {
        padding: 30px 40px;
        flex-direction: column;
        text-align: center;
    }
    .intl-h5 {
        font-size: 26px;
    }
    .intl-p {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .intl-div {
        padding: 25px 30px;
    }
    .intl-h5 {
        font-size: 24px;
    }
    .intl-p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .intl-div {
        padding: 20px 20px;
    }
    .intl-h5 {
        font-size: 22px;
    }
    .intl-p {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    .intl-div {
        padding: 15px 15px;
    }
    .intl-h5 {
        font-size: 20px;
    }
    .intl-p {
        font-size: 14px;
    }
}

@media (max-width: 420px) and (min-width: 380px) {
    .intl-div {
        padding: 12px 12px;
    }
    .intl-h5 {
        font-size: 19px;
    }
    .intl-p {
        font-size: 13px;
    }
}

@media (max-width: 380px) and (min-width: 320px) {
    .intl-div {
        padding: 10px 10px;
    }
    .intl-h5 {
        font-size: 18px;
    }
    .intl-p {
        font-size: 12px;
    }
}
