* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}

.auto-container {
    position: static;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pos-rel {
    position: relative;
}
.pos-abs{
    position: absolute;
}
.pad-b{
    /* padding-bottom: 25px; */
}
.pad-l-r{
    padding: 0px 45px;
}
.pad-t{
    padding: 20px 0px;
}
.bg-black{
    background-color: #151515;
    border: none;
    padding: 15px 0px;
}

.bg-cover {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.mr-l{
    margin-left: 30px;
}

.faq-section{
    background-color: #F5F5F5;
    padding: 80px 0px;
    overflow: hidden;
}
.faq-title{

}
.faq-head{

}
.faq-h3{
    font-size: 40px;
}
.faq-ph{
    font-size: 20px;
}
.acdr-div .accordion-button,
.acdr-div .accordion-button:focus,
.acdr-div .accordion-button:not(.collapsed) {
    background-color: transparent !important;  
    box-shadow: none !important;         
   
}

.acdr-div .accordion-item {
    background-color: transparent !important;  
    padding-bottom: 20px;
}

.acdr-div .accordion-body {
    background-color: transparent !important;  
    color: inherit !important;                 
}
.acdr-head .accordion-button {
    font-size: 1.5rem !important;
    font-weight: 400;
}


.acdr-body {
    font-size: 1.1rem !important; 
    font-weight: 400;
}
