* {
     margin: 0px;
     padding: 0px;
     border: none;
     outline: none;
     font-size: 100%;
 }

 .auto-container {
    
     padding: 0px 15px;
     margin: 0 auto;
     width: 100%;
 }
 .logo-h{
    margin-bottom: 30px;
 }
 .logo-h-h2{
   font-size: 45px;
 }
 .logo-span{
   color: orangered;
 }
 .client-logo{
    padding: 60px 0;
    background: #fff;
 }

.client-logo .slide img{
   height: 50px;
   width: auto;
   object-fit: contain;
   display: block;
   margin: 0 auto;
}

@media (max-width:576px){
   .logo-h-h2{
      font-size: 35px;
   }
   .client-logo{
      padding: 50px 0px;
   }
}
@media (max-width:480px){
   .client-logo{
      padding:40px 0px ;
   }
}
@media (max-width:320px){
   .client-logo{
      padding: 30px 0px;
   }
   .logo-h-h2{
      font-size: 30px;
   }
}