* {
     margin: 0px;
     padding: 0px;
     border: none;
     outline: none;
     font-size: 100%;
 }

 .auto-container {
    
     padding: 0px 15px;
     margin: 0 auto;
     width: 100%;
 }
 .logo-h{
    padding: 20px 0px;
 }
 .client-logo{
    margin-bottom: 30px;
 }

.client-logo .slide img{
   height: 50px;
   width: auto;
   object-fit: contain;
   display: block;
   margin: 0 auto;
}